<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanggy.kotlin.dao.TodoItemsMapper">
    <resultMap id="itemsMap" type="com.yanggy.kotlin.entity.TodoItems">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="base_columns">
        id, user_id, content, create_time, update_time, delete_flag, type, status
    </sql>

    <select id="getTodoItems" parameterType="com.yanggy.kotlin.dao.TodoItemsMapper" resultMap="itemsMap">
        select <include refid="base_columns"/>
        from todo_items
        <where>
            delete_flag = 0
        </where>
    </select>
</mapper>